body {
    background: ghostwhite;
}

@font-face {
  font-family: "Bitwise";
  src: url("/Bitwise.ttf");
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: dimgray;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
}

#blog-wrapper {
  padding: 100px;
}

.navbar-header a img{
    height: 80px;
}

.navbar-brand {
    padding-top: 10px;
}

.navbar-link {
    font-size: 20px;
}

.navbar-right {
  margin-right: 0px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li.active a {
    background: rgba(200,200,200,0.2);
    color: #888888;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #222222;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #888888;
    background: rgba(200,200,200,0.4);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 150px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a img {
    padding-top: 25px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav > .sidebar-title {
    color: #EEEEEE;
    text-indent: 10px;
}

.colorpicker-hue {
    background-image: url("/hue.png");
}

.colorpicker-saturation {
    background-image: url("/saturation.png");
}

.post-body {
  padding-bottom: 40px;
}

.pdf-btn {
  margin-top: 20px;
  background-color: #60b974;
  color: white;
  border-radius: 0px;
  outline: none;
}

.pdf-btn:hover,
.pdf-btn:focus,
.pdf-btn:active {
  margin-top: 20px;
  background-color: #409954;
  color: white;
  outline: none;
}

.employer-logo {
  text-align: center;
  float: left;
  width: 20%;
}

.employer-details,
.education-details {
  width:100%;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.3);
  margin-top: 40px;
}

.employer-details:before,
.education-details:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: rgba(255, 255, 255, 0.3);
  border-width: 30px;
  margin-left: -30px;
}

.employer-details#gqti:before {
  left: 10%;
}

.employer-details#mizzou:before {
  left: 30%;
}

.employer-details#epm:before {
  left: 50%;
}

.employer-details#aaon:before {
  left: 70%;
}

.employer-details#waterfield:before {
  left: 90%;
}

.education-details#iit:before {
  left: 16.5%;
}

.education-details#uiuc:before {
  left: 50%;
}

.education-details#mu:before {
  left: 83.5%;
}

.employer-details-location {
  float: left;
  width: 10%;
  text-align: center;
}

.employer-details-text {
  float: left;
  width: 60%;
}

.employer-details-text ul li,
.education-details-text ul li {
  list-style: none;
  padding-top: 2px;
}

.employer-details-skills {
  float: left;
  width: 30%;
}

.single-skill-container {
  height: 40px;
  width: 100%;
  text-align: left;
  float: left;
}

.skill-legend-1 {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #60b974;
  border: 1px white solid;
  margin-left: 40px;
  margin-top: 10px;
}

.skill-legend-2 {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #ffb800;
  border: 1px white solid;
  margin-left: 40px;
  margin-top: 10px;
}

.skill-legend-3 {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #508c97;
  border: 1px white solid;
  margin-left: 40px;
  margin-top: 10px;
}

.skill-legend-4 {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #b0723d;
  border: 1px white solid;
  margin-left: 40px;
  margin-top: 10px;
}

.skill-legend-last {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #e30017;
  border: 1px white solid;
  margin-left: 40px;
  margin-top: 10px;
}

.skill-title {
  float: left;
  padding-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.skill-progress {
  float: left;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  padding-left: 10px;
}

.skill-1 {
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  border-left: 1px white solid;
  color: white;
  text-align: center;
  padding-top: 5px;
  float: left;
  height: 30px;
  background-color: #60b974;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.skill-2 {
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  color: white;
  text-align: center;
  padding-top: 5px;
  float: left;
  height: 30px;
  background-color: #ffb800;
}

.skill-3 {
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  color: white;
  text-align: center;
  padding-top: 5px;
  float: left;
  height: 30px;
  background-color: #508c97;
}

.skill-4 {
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  color: white;
  text-align: center;
  padding-top: 5px;
  float: left;
  height: 30px;
  background-color: #b0723d;
}

.skill-last {
  border-top: 1px white solid;
  border-bottom: 1px white solid;
  border-right: 1px white solid;
  color: white;
  text-align: center;
  padding-top: 5px;
  float: left;
  height: 30px;
  background-color: #e30017;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.skill-full-100 {
  color: white;
  text-align: center;
  padding-top: 5px;
  float: left;
  height: 30px;
  background-color: #60b974;
  border-radius: 15px;
}

.education-logo {
  text-align: center;
  float: left;
  width: 33.33%;
}

.organization-logo {
  text-align: center;
  float: left;
  width: 25%;
}

.organization-logo-image {
  height: 100px;
}

.info-container,
.work-container,
.education-container,
.organizations-container,
.references-container {
  width: 100%;
  background-position: right top;
  background-size: 100% 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.timeline-container {
  position: relative;
  text-align: center;
  width: 100%;
  height: 0;
}

.timeline-img {
  position: absolute;
  z-index: 100;
  top: -80px;
  left: 0;
  width: 100%;
}

.timeline-color-img {
  position: absolute;
  z-index: 101;
  top: -80px;
  left: 0;
  width: 100%;
}

.resume-header {
  padding: 100px 0px 0px 50px;
}

.info-container {
  height: 250px;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.work-container {
  height: 600px;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: rgba(85,140,137,0.4);
}

.education-container {
  height: 500px;
  position: relative;
  overflow-y: hidden;
  background-color: rgba(217,133,59,0.4);
}

.organizations-container {
  height: 270px;
  position: relative;
  overflow-y: hidden;
  padding-top: 80px;
  background-color: rgba(116,175,173,0.4);
}

.references-container {
  padding-top: 40px;
  margin-bottom: 40px;
  height: auto;
}

img.bg-image {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: .2;
}

.single-reference {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  height: 200px;
}

.single-reference img {
  text-align: center;
  height: 150px;
  border-radius: 75px;
}

.reference-image {
  float: left;
  width: 20%;
}

.reference-text {
  float: left;
  width: 80%;
}

.reference-quote {
  width: 100%;
  font-size: 24px;
}

.reference-name {
  padding-top: 10px;
  width: 100%;
  font-size: 20px;
}
