body {
    background: ghostwhite;
}

@font-face {
  font-family: "Bitwise";
  src: url("/Bitwise.ttf");
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: dimgray;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
}

#blog-wrapper {
  padding: 100px;
}

.navbar-header a img{
    height: 80px;
}

.navbar-brand {
    padding-top: 10px;
}

.navbar-link {
    font-size: 20px;
}

.navbar-right {
  margin-right: 0px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li.active a {
    background: rgba(200,200,200,0.2);
    color: #888888;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #222222;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #888888;
    background: rgba(200,200,200,0.4);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 150px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a img {
    padding-top: 25px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav > .sidebar-title {
    color: #EEEEEE;
    text-indent: 10px;
}

.colorpicker-hue {
    background-image: url("/hue.png");
}

.colorpicker-saturation {
    background-image: url("/saturation.png");
}

.post-body {
  padding-bottom: 40px;
}

.employer-logo {
  text-align: center;
  float: left;
  width: 20%;
}

.employer-details-location {
  float: left;
  width: 10%;
  text-align: center;
}

.employer-details-text {
  float: left;
  width: 60%;
}

.employer-details-skills {
  float: left;
  width: 30%;
}

.single-skill-container {
  height: 40px;
  width: 100%;
  text-align: right;
}

.skill-title {
  float: left;
  width: 40%;
  padding-right: 10px;
  margin-top: 10px;
}

.skill-progress {
  float: left;
  width: 60%;
  height: 30px;
  margin-top: 5px;
}

.skill-full {
  color: white;
  text-align: center;
  padding-top: 5px;
  float: left;
  height: 30px;
  background-color: #60b974;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.skill-full-100 {
  color: white;
  text-align: center;
  padding-top: 5px;
  float: left;
  height: 30px;
  background-color: #60b974;
  border-radius: 15px;
}

.skill-empty {
  float: left;
  height: 30px;
  background-color: #EEEEEE;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.education-logo {
  text-align: center;
  float: left;
  width: 33.33%;
}

.organization-logo {
  text-align: center;
  float: left;
  width: 25%;
}

.organization-logo-image {
  height: 100px;
}

.info-container,
.work-container,
.education-container,
.organizations-container,
.references-container {
  width: 100%;
  background-position: right top;
  background-size: 100% 100%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.resume-header {
  padding: 100px 0px 0px 50px;
}

.info-container {
  height: 200px;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.work-container {
  height: 600px;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: rgba(85,140,137,0.4);
}

.education-container {
  height: 500px;
  position: relative;
  overflow-y: hidden;
  background-color: rgba(217,133,59,0.4);
}

.organizations-container {
  height: 270px;
  position: relative;
  overflow-y: hidden;
  padding-top: 80px;
  background-color: rgba(116,175,173,0.4);
}

.references-container {
  padding-top: 40px;
  margin-bottom: 40px;
  height: auto;
}

img.bg-image {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: .2;
}

.single-reference {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.single-reference img {
  text-align: center;
  height: 150px;
  border-radius: 75px;
}

.reference-image {
  float: left;
  width: 20%;
}

.reference-text {
  float: left;
  width: 80%;
}

.reference-quote {
  width: 100%;
  font-size: 24px;
}

.reference-name {
  padding-top: 10px;
  width: 100%;
  font-size: 20px;
}
