<template name="editCategories">
  <form class="new-category-form">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-md-3 control-label">Categories</label>
        <div class="col-md-7">
          <select class="form-control" id="category" name="category">
            {{#each categories}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="col-md-10">
        <button class="btn btn-danger" id="delete" type="button" style="float:right;">Delete</button>
      </div>
      <div class="row col-md-12" style="text-align:center;">
        <h3>New Category</h3>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Name</label>
        <div class="col-md-7">
          <input class="form-control" type="text" name="name"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Color</label>
        <div class="input-group col-md-7 color-picker" style="padding:0px 15px 0px 15px;">
          <input type="text" value="" name="color" class="form-control">
          <span class="input-group-addon"><i style="background-color: rgb(0, 0, 0);"></i></span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Image</label>
        <div class="col-md-7">
          <div class="input-group">
            <span class="input-group-btn">
              <div class="btn btn-primary btn-file upload-control">
                  Browse… <input type="file" class="file_bag" multiple="false" data-content-category="images" data-form-data="{&quot;contentType&quot;: &quot;images&quot;}">
              </div>
            </span>
            <div type="text" class="form-control upload-control">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                      &nbsp;
              </div>
              <div class="progress-label">       
              </div>
            </div>   
            <span class="input-group-btn">
              <button class="btn btn-success upload">Upload</button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="uploaded-image align-center col-md-12" style="text-align: center;">
        </div>
        <input type="hidden" name="image">
      </div>
      <div class="row">
        <div class="col-md-10">
          <button class="btn btn-primary" id="save" type="button" style="float:right; margin-left:12px;">Save</button>
          <button class="btn btn-default" id="cancel" type="button" style="float:right;">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</template>
