<template name="layout">
  <div class="navbar-header">
    <a class= "navbar-brand" href="/">
      <img src="/headshot.png">
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-right">
    <ul class="nav navbar-nav">
      <li class="navbar-link" id="resume-link">
        <a href="/work/resume">
          Resume
        </a>
      </li>
      <li class="navbar-link" id="blog-link">
        <a href="/blog">
          Blog
        </a>
      </li>
    </ul>
  </div>
  <div id="page-content-wrapper">
    <div id="main" class="row-fluid">
      {{> yield}}
    </div>
  </div>
</template>
