<template name="layout">
  <div id="wrapper">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">
                Rant
            </a>
        </li>
        {{#each categories}}
        <li>
          <a href="/{{this.name}}">{{this.title}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
    <div id="page-content-wrapper">
      <div class="navbar">
        <ul class="nav navbar-nav navbar-right">
          {{#if logged_in}}
          <li>
            <a class="new-post-link" href="/posts/new">New Post</a>
          </li>
          <li>
            <a class="new-category-link" href="/categories/edit">Edit Categories</a>
          </li>
          {{/if}}
          {{> loginButtons alight="right"}}
        </ul>
      </div>
      <div id="main" class="row-fluid">
        {{> yield}}
      </div>
  </div>
  </div>
</template>
