<template name="resume">
  <div class="resume-header">
    <h1>Resume</h1>
  </div>
  <div class="container info-container">
  </div>
  <div class="container timeline-container">
    <div class="container work-container">
    </div>
    <div class="container timeline">
      2000 - 2005 - 2010 - 2015
    </div>
    <div class="container education-container">
    </div>
  </div>
  <div class="container skills-container">
  </div>
  <div class="container references-container">
  </div>
</template>
