<template name="resume">
  <div class="resume-header">
    <h1 class="col-md-8">Justin Paulson</h1>
    <a href="/JustinPaulsonResume.pdf" download="JustinPaulsonResume.pdf">
      <button type="button" class="pdf-btn col-md-2 btn">Download PDF</button>
    </a>
  </div>
  <div class="info-container">
    <h4>918-949-5246</h4>
    <h4><a href="mailto:justinapaulson@gmail.com">justinapaulson@gmail.com</a></h4>
    <h4>Tulsa, OK</h4>
    I love to develop products from inception all the way through to production.  I have experience in a number of different programming languages and team structures.  I can manage a team or I can code as a member.  I am very creative and have worked to build new products and services everywhere I have worked.  My true passion lies in inventing and improving products, and in restructuring and developing internal tools and processes.  I'm not the guy that just does his work and goes home; I'm the guy that consistently brings up ideas and finds new areas where I can have a positive impact.  Don't hesitate to give me a call or send me an e-mail, I'd love to hear what you are working on and how I can help.
  </div>
  <div class="work-container">
    <img id="waterfield-bg" class="employer bg-image" src="/waterfield-background.png">
    <img id="aaon-bg" class="employer bg-image" src="/aaon-background.png" style="display:none;">
    <img id="epm-bg" class="employer bg-image" src="/epm-background.png" style="display:none;">
    <img id="mizzou-bg" class="employer bg-image" src="/mizzou-background.png" style="display:none;">
    <img id="gqti-bg" class="employer bg-image" src="/gqti-background.png" style="display:none;">
    <h2>Work</h2>
    <div id="employer-logos">
      <div class="employer-logo">
        <img class="employer-logo-image" src="/gqti-logo.png" width="100">
        <img name="gqti" class="employer-logo-image-highlighted" src="/gqti-logo-highlighted.png" width="100" style="display:none;">
      </div>
      <div class="employer-logo">
        <img class="employer-logo-image" src="/mizzou-logo.png" width="50">
        <img name="mizzou" class="employer-logo-image-highlighted" src="/mizzou-logo-highlighted.png" width="50" style="display:none;">
      </div>
      <div class="employer-logo" style="padding-top:10px;">
        <img class="employer-logo-image" src="/epm-logo.png" width="100">
        <img name="epm" class="employer-logo-image-highlighted" src="/epm-logo-highlighted.png" width="100" style="display:none;">
      </div>
      <div class="employer-logo">
        <img class="employer-logo-image" src="/aaon-logo.png" width="100">
        <img name="aaon" class="employer-logo-image-highlighted" src="/aaon-logo-highlighted.png" width="100" style="display:none;">
      </div>
      <div class="employer-logo">
        <img class="employer-logo-image" src="/waterfield-logo.png" width="100" style="display:none;">
        <img name="waterfield" class="employer-logo-image-highlighted active" src="/waterfield-logo-highlighted.png" width="100">
      </div>
    </div>

    <div class="employer-details" id="gqti" style="display:none;">
      <h3><a href="http://www.gqti.com" target="_blank">Goodrich Quality Theaters</a></h3>
      <h4>General Manager, 2004-2006</h4>
      <div class="employer-details-location">
        <iframe width="100px" height="100px" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Jefferson+City,+MO,+United+States&key=AIzaSyA_MsxdXlWp0fWOilOKFUIWwuHX_H266es"></iframe>
        Jefferson City, MO
      </div>
      <div class="employer-details-text">
        <ul>
          <li>
            Controlled costs on payroll, maintenance, and daily operations.
          </li>
          <li>
            Achieved the largest commission bonus of any General Manager, based on cost and customer satisfaction.
          </li>
          <li>
            Improved the quality of the film presentations by over 80%.
          </li>
          <li>
            Staffed and Trained employees on theater operations and customer service interactions.
          </li>
          <li>
            Scheduled films with emphasis on payroll control and revenue expectations.
          </li>
        </ul>
      </div>
      <div class="employer-details-skills">
        <div class="skill-progress">
          <div class="skill-1" style="width:30%">30%</div>
          <div class="skill-2" style="width:30%">30%</div>
          <div class="skill-3" style="width:15%">15%</div>
          <div class="skill-4" style="width:15%">15%</div>
          <div class="skill-last" style="width:10%">10%</div>
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-1">
          </div>
          <div class="skill-title">
            Training
          </div>
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-2">
          </div>
          <div class="skill-title">
            Maintenance
          </div>          
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-3">
          </div>
          <div class="skill-title">
            Staffing
          </div>          
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-4">
          </div>
          <div class="skill-title">
            Scheduling
          </div>          
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-last">
          </div>
          <div class="skill-title">
            Customer Service
          </div>          
        </div>
      </div>
    </div>
    <div class="employer-details" id="mizzou" style="display:none;">
      <h3><a href="http://www.missouri.edu" target="_blank">University of Missouri</a></h3>
      <h4>Research Technician III, 2007-2008</h4>
      <div class="employer-details-location">
        <iframe width="100px" height="100px" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Columbia,+MO,+United+States&key=AIzaSyA_MsxdXlWp0fWOilOKFUIWwuHX_H266es"></iframe>
        Columbia, MO
      </div>
      <div class="employer-details-text">
        <ul>
          <li>
            Maintained high safety standards for facility operation.
          </li>
          <li>
            Documented the photon absorption of SiC material using a number of lasers and photocells.
          </li>
          <li>
            Calculated Brewster’s Angle to determine the refractive indices of the SiC material.
          </li>
        </ul>
      </div>
      <div class="employer-details-skills">
        <div class="skill-progress">
          <div class="skill-1" style="width:50%">50%</div>
          <div class="skill-2" style="width:30%">30%</div>
          <div class="skill-last" style="width:20%">20%</div>
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-1">
          </div>
          <div class="skill-title">
            Expirements
          </div>
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-2">
          </div>
          <div class="skill-title">
            Measurements
          </div>          
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-last">
          </div>
          <div class="skill-title">
            Writing
          </div>          
        </div>
      </div>
    </div>
    <div class="employer-details" id="epm" style="display:none;">
      <h3><a href="http://www.epmctc.com" target="_blank">EPM Inc.</a></h3>
      <h4>Software Engineer, 2008-2010</h4>
      <div class="employer-details-location">
        <iframe width="100px" height="100px" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Fulton,+MO,+United+States&key=AIzaSyA_MsxdXlWp0fWOilOKFUIWwuHX_H266es"></iframe>
        Fulton, MO
      </div>
      <div class="employer-details-text">
        <ul>
          <li>
            Trained and supervised engineering interns.
          </li>
          <li>
            Designed controls for many different types of heating and cooling units including freezers, boilers,  and chillers.
          </li>
          <li>
            Traveled to sites to diagnose and correct problems with temperature controls.
          </li>
          <li>
            Wrote controls on embedded systems using assembly code for microcontrollers.
          </li>
          <li>
            Created web-based graphical user interfaces for control computers using PHP and SQL databases.
          </li>
          <li>
            Proven ability to work with clients to diagnose problems and find solutions, maintaining customer satisfaction.
          </li>
        </ul>
      </div>
      <div class="employer-details-skills">
        <div class="skill-progress">
          <div class="skill-1" style="width:40%">40%</div>
          <div class="skill-2" style="width:20%">20%</div>
          <div class="skill-3" style="width:15%">15%</div>
          <div class="skill-4" style="width:15%">15%</div>
          <div class="skill-last" style="width:10%">10%</div>
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-1">
          </div>
          <div class="skill-title">
            Assembly
          </div>
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-2">
          </div>
          <div class="skill-title">
            Graphics
          </div>          
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-3">
          </div>
          <div class="skill-title">
            Linux
          </div>          
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-4">
          </div>
          <div class="skill-title">
            Training
          </div>          
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-last">
          </div>
          <div class="skill-title">
            Javascript
          </div>          
        </div>
      </div>
    </div>
    <div class="employer-details" id="aaon" style="display:none;">
      <h3><a href="http://www.aaon.com" target="_blank">AAON Inc.</a></h3>
      <h4>Electrical Design Engineer, 2010-2013</h4>
      <div class="employer-details-location">
        <iframe width="100px" height="100px" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Tulsa,+OK,+United+States&key=AIzaSyA_MsxdXlWp0fWOilOKFUIWwuHX_H266es"></iframe>
        Tulsa, OK
      </div>
      <div class="employer-details-text">
        <ul>
          <li>
            Implemented a modal master program for the controller which could be easily configured to operate hundreds of different HVAC configurations, including a function that could configure the program automatically.
          </li>
          <li>
            Wrote custom NiagaraAX components in Java.
          </li>
          <li>
            Solitarily created an iOS application to interface controllers for access to setpoints, I/Os, alarms, network configuration, and histories.
          </li>
          <li>
            Created documentation for controls including an engineering catalog and a <a href="http://aaon.com/Documents/Manuals/JENEsys_UsersManual_140228.pdf" target="_blank">user’s manual</a> describing multiple ways to interface the controller.
          </li>
          <li>
            Designed building management system to integrate controls of all the AAON factory HVAC equipment.
          </li>
          <li>
            Designed custom iOS application for CEO’s home which integrated four HVAC units and a boiler loop into a simple to use interface.
          </li>
        </ul>
      </div>
      <div class="employer-details-skills">
        <div class="skill-progress">
          <div class="skill-1" style="width:40%">40%</div>
          <div class="skill-2" style="width:20%">20%</div>
          <div class="skill-3" style="width:15%">15%</div>
          <div class="skill-4" style="width:15%">15%</div>
          <div class="skill-last" style="width:10%">10%</div>
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-1">
          </div>
          <div class="skill-title">
            Niagara AX
          </div>
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-2">
          </div>
          <div class="skill-title">
            Java
          </div>
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-3">
          </div>
          <div class="skill-title">
            Objective C (iOS)
          </div>          
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-4">
          </div>
          <div class="skill-title">
            Documentation
          </div>          
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-last">
          </div>
          <div class="skill-title">
            Client Services
          </div>          
        </div>
      </div>
    </div>
    <div class="employer-details" id="waterfield">
      <h3><a href="http://www.waterfieldenergysoftware.com" target="_blank">Waterfield Energy</a></h3>
      <h4>Senior Developer and Team Lead, 2013-2015</h4>
      <div class="employer-details-location">
        <iframe width="100px" height="100px" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Tulsa,+OK,+United+States&key=AIzaSyA_MsxdXlWp0fWOilOKFUIWwuHX_H266es"></iframe>
        Tulsa, OK
      </div>
      <div class="employer-details-text">
        <ul>
          <li>
            Created an on-boarding program that improved the amount of time needed for new developers to reach full productivity.
          </li>
          <li>
            Developed a web app to serve as a developer handbook with documentation, UI guides, links to educational materials, and programming style guides using Jekyll.
          </li>
          <li>
            Coded dozens of features including context-based search, a modal editing framework, and computational processes written in go.
          </li>
          <li>
            Created multiple single-page backbonejs applications including the front-end javascript and the server side ruby on rails code as a JSON API.
          </li>
          <li>
            Trained multiple developers using the on-boarding program I created.
          </li>
          <li>
            Managed 6 remote developers in Costa Rica.
          </li>
          <li>
            Developed technical training courses for non-technical business staff.
          </li>
        </ul>
      </div>
      <div class="employer-details-skills">
        <div class="skill-progress">
          <div class="skill-1" style="width:30%">30%</div>
          <div class="skill-2" style="width:30%">30%</div>
          <div class="skill-3" style="width:20%">20%</div>
          <div class="skill-last" style="width:20%">20%</div>
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-1">
          </div>
          <div class="skill-title">
            Ruby on Rails
          </div>
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-2">
          </div>
          <div class="skill-title">
            Javascript
          </div>
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-3">
          </div>
          <div class="skill-title">
            Go
          </div>
        </div>
        <div class="single-skill-container">
          <div class="skill-legend-last">
          </div>
          <div class="skill-title">
            Training
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="timeline-container">
    <img class="timeline-img" src="/timeline.png">
    <img id="iit-timeline" class="education timeline-color-img" src="/iit-timeline.png" style="display:none;">
    <img id="uiuc-timeline" class="education timeline-color-img" src="/uiuc-timeline.png" style="display:none;">
    <img id="mu-timeline" class="education timeline-color-img" src="/mu-timeline.png">
    <img id="gqti-timeline" class="employer timeline-color-img" src="/gqti-timeline.png" style="display:none;">
    <img id="mizzou-timeline" class="employer timeline-color-img" src="/mizzou-timeline.png" style="display:none;">
    <img id="epm-timeline" class="employer timeline-color-img" src="/epm-timeline.png" style="display:none;">
    <img id="aaon-timeline" class="employer timeline-color-img" src="/aaon-timeline.png" style="display:none;">
    <img id="waterfield-timeline" class="employer timeline-color-img" src="/waterfield-timeline.png">
  </div>
  <div class="education-container">
    <img id="mu-bg" class="education bg-image" src="/mu-background.png">
    <img id="uiuc-bg" class="education bg-image" src="/uiuc-background.png" style="display:none;">
    <img id="iit-bg" class="education bg-image" src="/iit-background.png" style="display:none;">
    <h2>Education</h2>
    <div id="education-logos">
      <div class="education-logo">
        <img class="education-logo-image" src="/iit-logo.png" width="50">
        <img name="iit" class="education-logo-image-highlighted" src="/iit-logo-highlighted.png" width="50" style="display:none;">
      </div>
      <div class="education-logo">
        <img class="education-logo-image" src="/uiuc-logo.png" width="30">
        <img name="uiuc" class="education-logo-image-highlighted" src="/uiuc-logo-highlighted.png" width="30" style="display:none;">
      </div>
      <div class="education-logo">
        <img class="education-logo-image" src="/mizzou-logo.png" width="50" style="display:none;">
        <img name="mu" class="education-logo-image-highlighted active" src="/mizzou-logo-highlighted.png" width="50">
      </div>
    </div>
    <div class="education-details col-md-12" id="iit" style="display:none;">
      <a href="http://www.iit.edu" target="_blank"><h3>Illinois Institute of Technology</h3></a>
      <h4>Computer Science and Electrical Engineering, 2000-2002</h4>
      <div class="employer-details-location">
        <iframe width="100px" height="100px" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Chicago,+IL,+United+States&key=AIzaSyA_MsxdXlWp0fWOilOKFUIWwuHX_H266es"></iframe>
        Chicago, IL
      </div>
      <div class="employer-details-text">
        <ul>
          <li>
            Camras-NEXT scholarship
          </li>
          <li>
            Studied Computer Science and Electrical Engineering.
          </li>
        </ul>
      </div>
    </div>
    <div class="education-details col-md-12" id="uiuc" style="display:none;">
      <a href="http://www.uiuc.edu" target="_blank"><h3>University of Illinois - Urbana Champaign</h3></a>
      <h4>Computer Science and Philosophy, 2002-2004</h4>
      <div class="employer-details-location">
        <iframe width="100px" height="100px" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Champaign,+IL,+United+States&key=AIzaSyA_MsxdXlWp0fWOilOKFUIWwuHX_H266es"></iframe>
        Champaign-Urbana, IL
      </div>
      <div class="employer-details-text">
        <ul>
          <li>
            Studied philosophy and computer science.
          </li>
        </ul>
      </div>
    </div>
    <div class="education-details col-md-12" id="mu">
      <a href="http://www.missouri.edu" target="_blank"><h3>University of Missouri</h3></a>
      <h4>Electrical and Computer Engineering, 2006-2008</h4>
      <div class="employer-details-location">
        <iframe width="100px" height="100px" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=Columbia,+MO,+United+States&key=AIzaSyA_MsxdXlWp0fWOilOKFUIWwuHX_H266es"></iframe>
        Columbia, MO
      </div>
      <div class="employer-details-text">
        <ul>
          <li>
            Graduated with a B.S. in Computer Engineering, a B.S. in Electrical Engineering, and a minor in Philosophy with Honors.
          </li>
          <li>
            My senior project was the creation of wifi-enabled parking meters that can be monitored and paid for from either an iPhone application or a website.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="organizations-container">
    <div class="organization-logo">
      <div class="organization-logo-image">
        <a href="http://www.mensa.org" target="_blank"><img src="/mensa-logo.png" width="100" border="0"></a>
      </div>
      <p>Mensa</p>
    </div>
    <div class="organization-logo">
      <div class="organization-logo-image">
        <a href="http://www.usatriathlon.org" target="_blank"><img src="/usa-triathlon-logo.png" width="100" border="0"></a>
      </div>
      <p>USA Triathlon</p>
    </div>
    <div class="organization-logo">
      <div class="organization-logo-image">
        <a href="http://www.marathonmaniacs.com" target="_blank"><img src="/marathon-maniacs-logo.png" width="100" border="0"></a>
      </div>
      <p>Marathon Maniacs</p>
    </div>
    <div class="organization-logo">
      <div class="organization-logo-image">
        <a href="http://www.ieee.org" target="_blank"><img src="/ieee-logo.png" width="100" border="0"></a>
      </div>
      <p>IEEE</p>
    </div>
  </div>
  <div class="references-container">
    <!-- <div class="single-reference">
      <div class="reference-image">
        <img src="/matt.png">
      </div>
      <div class="reference-text">
        <div class="reference-quote">
          <i>"Justin is really Freaking Cool.  This one time we did a lot of cool stuff together and I've always admired his ability to really be awesome and also bad ass at the same time."</i>
        </div>
        <div class="reference-name">
          - <b>Matt Brower</b>, QA Lead, <a href="http://www.ausdig.com/" target="_blank">Austin Digital</a>
        </div>
      </div>
    </div> -->
    <div class="single-reference">
      <div class="reference-image">
        <img src="/codie.png">
      </div>
      <div class="reference-text">
        <div class="reference-quote">
          <i>"Justin is a great team lead and developer at Waterfield Energy. He consistently brings up ideas to improve the entire team's knowledge and skill sets. He also provides advice to the entire development team to assist in resolving issues and learning more about the application."</i>
        </div>
        <div class="reference-name">
          - <b>Codie Mullins</b>, Development Manager, <a href="http://www.waterfieldenergysoftware.com/" target="_blank">Waterfield Energy</a>
        </div>
      </div>
    </div>
  </div>
</template>
