<template name="showPost">
  {{> blogSidebar}}
  <div id="blog-wrapper">
    {{#if admin_user}}
    <a class="pull-right edit-post-link align-right" href="/blog/posts/{{id}}/edit">Edit Post</a>
    {{/if}}
    <div class="post-icon">
      <img src="{{category_image}}" align="left" height="50" width="50">
    </div>
    <div class="post-body" style="border-left: 2px solid {{category_color}};">
      <h3 class="post-title">{{title}}</h3>
      <h4 class="post-byline">{{author}}</h4>
      <h5>{{createdAtFormatted}}</h5>
      <div class="post-text">
        {{#markdown}}{{text}}{{/markdown}}
      </div>
    </div>
  </div>
</template>
